<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHASE SEVEN DKP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fontawesome glyicons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Work+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <!-- Link Ref for CSS -->
    <link href="static/css/main.css" type="text/css" rel="stylesheet">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- script for navbar transition -->
    <script>
        $(document).ready(function() {
            var header = $(".navbar");
            var link = $(".link-nav");
            var brand = $(".brand");
            var nnn= $("#nnn")

        
            $(window).scroll(function() {    
                var scroll = $(window).scrollTop();
                if (scroll >= 320) {
                    header.addClass("nav-scrolled");
                    link.addClass("link");
                    brand.addClass("brand-scrolled");
                    nnn.addClass("nnn-scrolled")

                } else {
                    header.removeClass("nav-scrolled");
                    link.removeClass("link");
                    brand.removeClass("brand-scrolled");
                    nnn.removeClass("nnn-scrolled")

                }
            })
        });
    </script>

    <!-- script for scroll down arrow -->
    <script>
        $(function() {
            $('a[href*=\\#]').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
            });
        });
    </script>

    <!-- script for highlighting link on scroll -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141011967-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141011967-1');
    </script>
    
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
  

</head>

<header>

<nav class="navbar fixed-top navbar-expand-lg">
    <div id="nnn"class="container-fluid">
        


       <a class="navbar-brand brand-link" href="#"><div class="brand">DKP PHASE SEVEN</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>   
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#hero"><div class="link-nav">Home</div></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><div class="link-nav">DKP LIST</div></a>
                </li> 
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#about"><div class="link-nav">Package Deletion</div></a>
                </li>  -->
              
                
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#objectives"><div class="link-nav">Source Code</div></a>
                </li>  -->
            </ul> 
        </div>

        
    </div>
</nav>

<div id="hero" class="view">
    
    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="row d-flex justify-content-center text-center">
        

            <div class="col-md-12">
                                 
                            <h5 class="display-4 font-weight-bold text-center col-md-12 mt-4  "><div class="me">Phase Seven</div></h5>
                            <div class="col-md-12">
                                    <div id="hi" class="container-fluid text-center col-md-12"><br>
                                        <h5 class="display-4 font-weight-bold text-center col-md-12 mt-4  "><div class="me">DKP</div></h5>
                                        <br> 
                            </div>
                            <br>
                            <br>
        <br><br><h3 style="color:white;">Login Required</h3></div>
                        </div>
               
                    </div>
                        
                    <br>
                 
            </div>
    
           
        </div>
        
    </div>
    
    <br>
    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <section id="section02" class="demo" style="text-align:center;">
                                    <a href="#portfolio"><i id="arro" class="fa fa-angle-double-down" style="font-size:36px;color:white"></i>
                                    </a>
                                </section>
                            </div>
                                
                        </div>
                    </div>
</div>
<br>
</header>
    
<!-- Main layout -->

<section id="portfolio" class="text-center" style="font-family: 'Poppins','Sans-Serif'">
    <br>
    <br><br>
    <br>
    <br>
    <!-- Heading -->
    <div data-aos="fade-up" class="aos-init aos-animate" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-easing="ease" data-aos-delay="0">
        <div id="TiT" class="title mb-5"><h1>DDKKPP</h1></div>
    </div>
    
    <div class="container">
     
        <form href="#portfolio" class="text-mid col-md-12 mt-4  " method=post enctype=multipart/form-data>
            <div>
                <select class="form-select" name="kts and kas" aria-label="Default select example">
                    <option value="All" name="All">All Class</option><Br>
   
            <option value="Warrior" name="Warrior">Warrior</option><Br>
                <option value="Mage" name="Mage">Mage</option><Br>
            <option value="Druid" name="Druid">Druid</option><Br>

                <option value="Priest" name="Priest">Priest</option><Br>

                    <option value="Paladin" name="Paladin">Paladin</option><Br>
                        <option value="Warlock" name="Warlock">Warlock</option><Br>
                            <option value="Rogue" name="Rogue">Rogue</option><Br>
                <option value="Hunter" name="Hunter">Hunter</option><Br>
                <option value="WarriorRogueT3" name="WarriorRogueT3">T3 Warrior/Rogue</option><Br>
                    <option value="MageWarlockPriestT3" name="MageWarlockPriestT3">T3 Mage/Warlock/Priest</option><Br>
                    <option value="PaladinDruidHunterT3" name="PaladinDruidHunterT3">T3 Paladin/Druid/Hunter</option><Br>
                    <option value="Healer Competition" name="Healer Competition">Healer Competition</option><Br>
                    <option value="Caster DPS Competition" name="Caster DPS Competition">Caster DPS Competition</option><Br>
                    <option value="Melee + Potential Ret Pally" name="Melee + Potential Ret Pally">Melee + Potential Ret Pally</option><Br>


                        </select>
                        

                        <input a class="btn btn-primary btn-first" href="#portfolio" name="submit_button" type=submit value='Submit'>

              </div><br>
              <input type="button" value="Refresh" onClick="window.location.href=window.location.href">

      
           </form>
            
        

        <table>
            <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                        {{ row_ }}
                    </button>
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        
        </table>
           
         
                <br>
<br>

                <div class="row d-flex justify-content-center">


</div>
</div>

  <br><br><br><br>
  <br><br>

</section>
 
<!-- Footer -->

<!-- AOS  -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
  </script>
</body>
</html>