<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHASE SEVEN DKP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fontawesome glyicons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Work+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <!-- Link Ref for CSS -->
    <link href="static/css/main.css" type="text/css" rel="stylesheet">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- script for navbar transition -->
    <script>
        $(document).ready(function() {
            var header = $(".navbar");
            var link = $(".link-nav");
            var brand = $(".brand");
            var nnn= $("#nnn")

        
            $(window).scroll(function() {    
                var scroll = $(window).scrollTop();
                if (scroll >= 320) {
                    header.addClass("nav-scrolled");
                    link.addClass("link");
                    brand.addClass("brand-scrolled");
                    nnn.addClass("nnn-scrolled")

                } else {
                    header.removeClass("nav-scrolled");
                    link.removeClass("link");
                    brand.removeClass("brand-scrolled");
                    nnn.removeClass("nnn-scrolled")

                }
            })
        });
    </script>

    <!-- script for scroll down arrow -->
    <script>
        $(function() {
            $('a[href*=\\#]').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
            });
        });
    </script>

    <!-- script for highlighting link on scroll -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141011967-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141011967-1');
    </script>
    
    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
  

</head>

<header>

<nav class="navbar fixed-top navbar-expand-lg">
    <div id="nnn"class="container-fluid">
        


       <a class="navbar-brand brand-link" href="#"><div class="brand">LOOT DISTRIBUTION PHASE SEVEN</div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>   
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#hero"><div class="link-nav">Home</div></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/"><div class="link-nav">DKP</div></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><div class="link-nav">LOOT LIST</div></a>
                </li> 
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#about"><div class="link-nav">Package Deletion</div></a>
                </li>  -->
              
                
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#objectives"><div class="link-nav">Source Code</div></a>
                </li>  -->
            </ul> 
        </div>

        
    </div>
</nav>

<div id="hero" class="view">
    
    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="row d-flex justify-content-center text-center">
        

            <div class="col-md-12">
                                 
                            <h5 class="display-4 font-weight-bold text-center col-md-12 mt-4  "><div class="me">Phase Seven</div></h5>
                            <div class="col-md-12">
                                    <div id="hi" class="container-fluid text-center col-md-12"><br>
                                        <h5 class="display-4 font-weight-bold text-center col-md-12 mt-4  "><div class="me">LOOT</div></h5>
                                        <br> 
                            </div>
                            <br>
                            <br>
        <br><br><h3 style="color:white;">Login Required</h3></div>
                        </div>
               
                    </div>
                        
                    <br>
                 
            </div>
    
           
        </div>
        
    </div>
    
    <br>
    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <section id="section02" class="demo" style="text-align:center;">
                                    <a href="#portfolio"><i id="arro" class="fa fa-angle-double-down" style="font-size:36px;color:white"></i>
                                    </a>
                                </section>
                            </div>
                                
                        </div>
                    </div>
</div>
<br>
</header>
    
<!-- Main layout -->

<section id="portfolio" class="text-center" style="font-family: 'Poppins','Sans-Serif'">
    <br>
    <br><br>
    <br>
    <br>
    <!-- Heading -->
    <div data-aos="fade-up" class="aos-init aos-animate" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-easing="ease" data-aos-delay="0">
        <div id="TiT" class="title mb-5"><h1>DISTRIBUTION LOG</h1></div>
    </div>
    
    <div class="container">
     
        <form href="#portfolio" class="text-mid col-md-12 mt-4  " method=post enctype=multipart/form-data>
            <div>
                <h3 style="color:black;">High Value Item Search</h3>
                <select class="form-select" name="kts and kas" aria-label="Default select example">
                    <option value="All" name="All">All Loots</option><Br>
   
                        <option value='Badge of the Swarmguard' name='Badge of the Swarmguard'>Badge of the Swarmguard</option><Br>
                            <option value='Band of Unnatural Forces' name='Band of Unnatural Forces'>Band of Unnatural Forces</option><Br>
                            <option value='Belt of Never-Ending Agony' name='Belt of Never-Ending Agony'>Belt of Never-Ending Agony</option><Br>
                            <option value='Boots of Pure Thought' name='Boots of Pure Thought'>Boots of Pure Thought</option><Br>
                            <option value='Cloak of the Necropolis' name='Cloak of the Necropolis'>Cloak of the Necropolis</option><Br>
                            <option value='Corrupted Ashbringer' name='Corrupted Ashbringer'>Corrupted Ashbringer</option><Br>
                            <option value='Dark Storm Gauntlets' name='Dark Storm Gauntlets'>Dark Storm Gauntlets</option><Br>
                            <option value="Death's Sting'" name="Death's Sting">Death's Sting</option><Br>
                            <option value='Doomfinger' name='Doomfinger'>Doomfinger</option><Br>
                            <option value='Drake Fang Talisman' name='Drake Fang Talisman'>Drake Fang Talisman</option><Br>
                            <option value="Eye of C'Thun" name="Eye of C'Thun">Eye of C'Thun</option><Br>
                            <option value='Eye of the Dead' name='Eye of the Dead'>Eye of the Dead</option><Br>
                            <option value='Eyestalk Waist Cord' name='Eyestalk Waist Cord'>Eyestalk Waist Cord</option><Br>
                            <option value='Gauntlets of Annihilation' name='Gauntlets of Annihilation'>Gauntlets of Annihilation</option><Br>
                            <option value='Gem of Trapped Innocents' name='Gem of Trapped Innocents'>Gem of Trapped Innocents</option><Br>
                            <option value='Gressil, Dawn of Ruin' name='Gressil, Dawn of Ruin'>Gressil, Dawn of Ruin</option><Br>
                            <option value='Hammer of the Twisting Nether' name='Hammer of the Twisting Nether'>Hammer of the Twisting Nether</option><Br>
                            <option value='Iblis, Blade of the Fallen Seraph' name='Iblis, Blade of the Fallen Seraph'>Iblis, Blade of the Fallen Seraph</option><Br>
                            <option value='Jom Gabbar' name='Jom Gabbar'>Jom Gabbar</option><Br>
                            <option value='Kingsfall' name='Kingsfall'>Kingsfall</option><Br>
                            <option value='Kiss of the Spider' name='Kiss of the Spider'>Kiss of the Spider</option><Br>
                            <option value='Leggings of Polarity' name='Leggings of Polarity'>Leggings of Polarity</option><Br>
                            <option value='Legplates of Carnate' name='Legplates of Carnate'>Legplates of Carnate</option><Br>
                            <option value='Might of Menethil' name='Might of Menethil'>Might of Menethil</option><Br>
                            <option value="Neltharion's Tear' name='Neltharion's Tear">Neltharion's Tear</option><Br>
                            <option value='Nerubian Slavemaker' name='Nerubian Slavemaker'>Nerubian Slavemaker</option><Br>
                            <option value='Plated Abomination Ribcage' name='Plated Abomination Ribcage'>Plated Abomination Ribcage</option><Br>
                            <option value='Power of the Scourge' name='Power of the Scourge'>Power of the Scourge</option><Br>
                            <option value='Pure Elementium Band' name='Pure Elementium Band'>Pure Elementium Band</option><Br>
                            <option value='Rejuvenating Gem' name='Rejuvenating Gem'>Rejuvenating Gem</option><Br>
                            <option value='Rime Covered Mantle' name='Rime Covered Mantle'>Rime Covered Mantle</option><Br>
                            <option value='Ring of the Eternal Flame' name='Ring of the Eternal Flame'>Ring of the Eternal Flame</option><Br>
                            <option value="Sapphiron's Right Eye" name="Sapphiron's Right Eye">Sapphiron's Right Eye</option><Br>
                            <option value='Scarab Brooch' name='Scarab Brooch'>Scarab Brooch</option><Br>
                            <option value='Seal of the Damned' name='Seal of the Damned'>Seal of the Damned</option><Br>
                            <option value='Shroud of Dominion' name='Shroud of Dominion'>Shroud of Dominion</option><Br>
                            <option value="Slayer's Crest" name="Slayer's Crest">Slayer's Crest</option><Br>
                            <option value="Stormrage's Talisman of Seething" name="Stormrage's Talisman of Seething">Stormrage's Talisman of Seething</option><Br>
                            <option value='The Hungering Cold' name='The Hungering Cold'>The Hungering Cold</option><Br>
                            <option value='The Restrained Essence of Sapphiron' name='The Restrained Essence of Sapphiron'>The Restrained Essence of Sapphiron</option><Br>
                            <option value='Wristguards of Vengeance' name='Wristguards of Vengeance'>Wristguards of Vengeance</option><Br>
                            
df3 = df3.replace(['Hammert of the Twisting Nether'],'Hammer of the Twisting Nether')




                        </select>
                        

                        <input a class="btn btn-primary btn-first" href="#portfolio" name="submit_button" type=submit value='Submit'>

              </div><br>
              <input type="button" value="Refresh" onClick="window.location.href=window.location.href">

      
           </form>
            
        

        <table>
            <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr>
                {% for col, row_ in zip(column_names, row) %}
                {% if col == link_column %}
                <td>
                    <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                        {{ row_ }}
                    </button>
                </td>
                {% else %}
                <td>{{row_}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        
        </table>
           
         
                <br>
<br>

                <div class="row d-flex justify-content-center">


</div>
</div>

  <br><br><br><br>
  <br><br>

</section>
 
<!-- Footer -->

<!-- AOS  -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
  </script>
</body>
</html>